
.default {
  background-color: yellow;
  color: black !important;
}

.color-counter {
  color: antiquewhite;
  font-size: large;
}

.light-green {
  background-color: lightseagreen;
}

.default-green {
  background-color: limegreen;
}

.dark-green {
  background-color: darkgreen;
}

.light-red {
  background-color: indianred;
}

.default-red {
  background-color: red;
}

.dark-red {
  background-color: darkred;
}
