
$app-background-color: antiquewhite;
$app-background-color-common: #c4c4c4;
$poker-background-color: darkgreen;
$app-color: black;


$mage-background-color: #5effef;
$mage-color: #940000;

$rogue-background-color: #fff68f;
$rogue-color: #45432a;

$warrior-background-color: #804f00;
$warrior-color: #ffd694;
