
.color-mage {
  background-color: $mage-background-color;
  color: $mage-color;
}

.color-warrior {
  background-color: $warrior-background-color;
  color: $warrior-color;
}

.color-rogue {
  background-color: $rogue-background-color;
  color: $rogue-color;
}
