


<div class="d-flex justify-content-center mt-2">
  <div *ngFor="let player of poker.players.slice(0, 3)" class="col-4">
    <app-poker-player
      [player]="player"
      (fold)="foldPlayer($event)"
    ></app-poker-player>
  </div>
</div>


<div class="my-4 d-flex justify-content-center">
  <img *ngFor="let card of poker.river"
       [src]="card.image"
       [alt]="card.name"
  >
  <button class="btn btn-warning"
          (click)="poker.addRiver()"
          [disabled]="poker.river.length == 5"
          [hidden]="poker.river.length == 0"
  >
    River
  </button>
</div>

<div class="d-flex justify-content-center">
  <div *ngFor="let player of poker.players.slice(3)" class="col-4">
    <app-poker-player
      [player]="player"
      (fold)="foldPlayer($event)"
    ></app-poker-player>
  </div>
</div>

<div class="d-flex justify-content-center my-2">
  <button class="btn btn-danger"
          (click)="poker.dealCards()"
          [disabled]="poker.river.length >= 3 && poker.river.length < 5"
  >
    Deal Cards
  </button>
</div>
